// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) STMicroelectronics 2019 - All Rights Reserved
 * Author: Alexandre Torgue <alexandre.torgue@st.com> for STMicroelectronics.
 */

/dts-v1/;

#include "stm32mp157.dtsi"
#include "stm32mp15xd.dtsi"
#include "stm32mp15-pinctrl.dtsi"
#include "stm32mp15xxac-pinctrl.dtsi"
#include "stm32mp15xx-100ask.dtsi"

/ {
	model = "STMicroelectronics STM32MP157D-100ASK Discovery Board";
	compatible = "st,stm32mp157d-100ask", "st,stm32mp157";

	aliases {
		ethernet0 = &ethernet0;
		serial0 = &uart4;
		serial1 = &usart6;
		serial2 = &usart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&pinctrl {
	uart4_pins_d: uart4-3 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 12, AF6)>; /* UART4_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('A', 11, AF6)>; /* UART4_RX */
			bias-disable;
		};
	};

	uart4_idle_pins_d: uart4-idle-3 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 12, ANALOG)>; /* UART4_TX */
		};
		pins2 {
			pinmux = <STM32_PINMUX('A', 11, AF6)>; /* UART4_RX */
			bias-disable;
		};
	};

	uart4_sleep_pins_d: uart4-sleep-3 {
		pins {
			pinmux = <STM32_PINMUX('A', 12, ANALOG)>, /* UART4_TX */
				<STM32_PINMUX('A', 11, ANALOG)>; /* UART4_RX */
		};
	};

	usart6_pins_a: uart6-0 {
		pins1 {
			pinmux = <STM32_PINMUX('C', 6, AF7)>; /* USART6_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 7, AF7)>; /* USART6_RX */
			bias-disable;
		};
	};

	fusb302_pins_a: fusb302-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 10, GPIO)>;
			bias-pull-up;
		};
	};

	vdd_wifi_pins_a: vdd_wifi {
		gpio {
			pinmux = <STM32_PINMUX('H', 4, GPIO)>;
			drive-push-down;
			bias-pull-up;
			output-low;
			slew-rate = <0>;
		};
	};
};

&pinctrl_z {
	usart1_pins_a: usart1-0 {
		pins1 {
			pinmux = <STM32_PINMUX('Z', 1, AF7)>, /* USART1_RX */
					 <STM32_PINMUX('Z', 3, AF7)>; /* USART1_CTS */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('Z', 2, AF7)>, /* USART1_TX */
					 <STM32_PINMUX('Z', 5, AF7)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_idle_pins_a: usart1-idle-1 {
		pins1 {
			pinmux = <STM32_PINMUX('Z', 2, ANALOG)>, /* USART1_TX */
				 <STM32_PINMUX('Z', 3, ANALOG)>; /* USART1_CTS */
		};
		pins2 {
			pinmux = <STM32_PINMUX('Z', 5, AF7)>; /* USART1_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('Z', 1, AF7)>; /* USART1_RX */
			bias-disable;
		};
	};

	usart1_sleep_pins_a: usart1-sleep-0 {
		pins {
			pinmux = <STM32_PINMUX('Z', 1, ANALOG)>, /* USART1_RX */
					 <STM32_PINMUX('Z', 2, ANALOG)>, /* USART1_TX */
					 <STM32_PINMUX('Z', 3, ANALOG)>, /* USART1_CTS */
					 <STM32_PINMUX('Z', 5, ANALOG)>; /* USART1_RTS */
		};
	};
};
